.main {
  display: flex;
  font-family: sans-serif;
  flex-direction: column;
  width: 50%;
  height: 60%;
  margin: 0 auto;
}

#title {
  font-size: 2rem;
  font-weight: 700;
  padding: 10px 0;
}

#start {
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 150px;
  min-height: 36px;
  background: #1a73e8;
  text-align: center;
  line-height: 20px;
  color: white;
}

#start > label {
  font-size: 1.2rem;
  line-height: 1.6rem;
  padding: 8px
}

#passage-container {
  font-family: "Lucida Console", "Monaco", monospace;
  padding: 8px;
	font-size: 1.2rem;
  line-height: 1.6rem;
}

#completed-passage { 
  color: green;
}

.completed {
  color: green;
}

.cursor {
  -webkit-animation: 0.75s blink step-end infinite;
  animation: 0.75s blink step-end infinite;
  color: white;
}

@keyframes "blink" {
  from, to {
    color: white;
  }
  50% {
    color: black;
  }
}

@-webkit-keyframes "blink" {
  from, to {
    color: white;
    background: black;
  }
  50% {
    color: black;
    background: transparent;
  }
}

#user-input {
  display: hidden;
  margin: 10px 0;
	padding: 2px 5px;
  line-height: 24px;
  font-size: 18px;
  border: 1px solid #ccc;
  border-radius: 2px;
}

#user-input { 
  height: 0px;
  padding: 0;
  border: none;
}

.keyboard-container {
  margin-top: 8px;
  width: 100%;
  height: 100%;
  background-color: #ccc;
}

.keyboard-key {
  fill: white;
  stroke: #aaa;
}

text[class*="-label"] {
  text-rendering: optimizeLegibility;
  stroke: black;
  stroke-width: 0.5px;
  fill: black;
}

.keyboard-key-multi-label {
  font-size: 11px;
}

.keyboard-key-mod-label {
  font-size: 13px;
}

.keyboard-key-single-label {
  font-size: 14px;
}

.pressed {
  fill: black; 
}

.pressed > text {
  stroke: white;
  fill: white;
}
