.main {
  display: flex;
  font-family: "Source Sans Pro", "Arial", sans-serif;
  flex-direction: column;
  width: 50%;
  height: 60%;
  margin: 0 auto;
}

#title {
  font-size: 2rem;
  font-weight: 700;
  padding: 10px 0;
}

#start {
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 150px;
  min-height: 36px;
  background: #1a73e8;
  text-align: center;
  line-height: 20px;
  color: white;
}

#start > label {
  font-size: 1.2rem;
  line-height: 1.6rem;
  padding: 8px
}

#passage-container {
  padding: 8px;
	font-size: 1.2rem;
  line-height: 1.6rem;
}

#completed-passage { 
  color: green;
}

#user-input {
  margin: 10px 0;
	padding: 2px 5px;
  line-height: 24px;
  font-size: 18px;
  border: 1px solid #ccc;
  border-radius: 2px;
}

.keyboard-container {
  margin-top: 8px;
  width: 100%;
  height: 100%;
  background-color: #ccc;
}

.keyboard-key {
  fill: white;
  stroke: #aaa;
}

text[class*="-label"] {
  text-rendering: optimizeLegibility;
  stroke: black;
  stroke-width: 0.5px;
  fill: black;
}

.keyboard-key-multi-label {
  font-size: 11px;
}

.keyboard-key-mod-label {
  font-size: 13px;
}

.keyboard-key-single-label {
  font-size: 14px;
}

.pressed {
  fill: black; 
}

.pressed > text {
  stroke: white;
  fill: white;
}
